*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url(bg-desktop.svg);
    background-color: hsl(257, 40%, 49%);
    margin: 20px;
    /* height: 100vh; */
    height: auto;
}

#container{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    /* background-color: blue; */
    height: auto;
}

h2{
    color: #fff;
    font-size: 35px;
    font-family: sans-serif;
}

#box1{
    /* background-color: red; */
    width: 30%;     
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#box1 a{
    height: auto;
    padding: 12px;
    width: 140px;
    border-radius: 30px;
    background-color: #fff;
    text-decoration: none;
    color:  blueviolet;
    text-align: center;
}

#box1 a:hover{
    background-color: hsl(300, 69%, 71%);
    color: #fff;
}

#box1 p{
    margin: 30px 0 15px 0;
    color: #fff;
    text-align: justify;
}

#huddle-icon{
    transform: scale(0.7);
}

#img2{
    transform: scale(0.9);
}

#box2{
    height: auto;
    width: 98%;
    /* background-color: red; */
    background: transparent;
    display: flex;
    justify-content: flex-end;
    padding: 0 10px ;
}

#box2 a{
    width: 40px;
    height: 40px;
    border: 2px solid #fff;
    border-radius: 50%;
    /* background-color: blue; */
    background: transparent;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

#box2 a:nth-child(2){
    margin: 0 15px;
}

#box2 a:hover{
    border: 2px solid hsl(300, 69%, 71%);
    color: hsl(300, 69%, 71%);
}

@media screen and (max-width: 1008px){
    body{
    background: url(bg-mobile.svg);
    background-color: hsl(257, 40%, 49%);
    background-repeat: no-repeat;
}

#container{
    flex-direction: column;
}

#box1{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#box1 p{
    margin: 30px 0 15px 0;
    color: #fff;
}

#box1 h2{
    text-align: center;
    transform: scale(0.7);
    width: 100%;
}

#box1 p{
    text-align: center;
}

#huddle-icon{
    width: 150px;
    height: 50px;
}

#img2{
    transform: scale(0.9);
    margin-bottom: 40px;
}

#box2{
    height: auto;
    width: 98%;
    background: transparent;
    display: flex;
    justify-content: center;
    padding: 0 10px ;
    margin-top: 30px;
}

}